<% var frontEndFocus = data[1]; %>
<% include front-end-focus %>

<% var jsWeekly = data[2]; %>
<% include js-weekly %>

<% var nodeWeekly = data[0]; %>
<% include node-weekly %>

<% var githubTrending = data[3]; %>
<% include github-trending %>

<table border="0" width="100%" cellpadding="0">
  <tbody>
    <tr>
      <td align="center">
        <table id="other" border="0" width="600" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th align="left">Other</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="http://css-weekly.com/archives/">CSS Weekly</a>
                <br clear="all" style="clear: both">
                <a href="https://mobilewebweekly.com/">Mobile Web Weekly</a>
                <br clear="all" style="clear: both">
                <a href="http://webopsweekly.com/latest">Web Operations Weekly</a>
                <br clear="all" style="clear: both">
                <a href="https://web-design-weekly.com/archive/">Web Design Weekly</a>
                <br clear="all" style="clear: both">
                <a href="http://www.echojs.com/">Echo Js</a>
                <br clear="all" style="clear: both">
                <a href="https://www.smashingmagazine.com/">Smashing Magazine</a>
                <br clear="all" style="clear: both">
                <a href="https://www.chromestatus.com/features">Chromium Status</a>
                <br clear="all" style="clear: both">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
